#alternative-logins .register-button:only-child {
    width: 220px;
    color: #000;
    background-color: #ECECFF;
    border: 1px solid gray;
	opacity: 70%;
	transition: color 100ms ease-in-out;
}

#alternative-logins .register-button:only-child:hover,
#alternative-logins .register-button:only-child:focus
{
    border: 1px solid black;
    background-image: linear-gradient(40deg, #ECECFF 0%, #FFF 100%);
}

#alternative-logins .register-button.hidden {
	display: none;
}
