fieldset p .svg {
	position: absolute;
	left: 16px;
	top: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}

#formCreateAccount .svg#email-icon {
	top: 27px;
}

#formCreateAccount input[type="submit"],
#formValidateEmail input[type="submit"]
{
	background-color: #ECECFF;
}

#formCreateAccount input[type="submit"]:hover,
#formCreateAccount input[type="submit"]:focus,
#formValidateEmail input[type="submit"]:hover,
#formValidateEmail input[type="submit"]:focus
{
	padding: 10px 20px;
	background-image: linear-gradient(40deg, #ececff 0%, #ffffff 100%);
}

#formCreateAccount p input:not([disabled]):active,
#formValidateEmail p input:not([disabled]):active
{
	background-color: #fff ;
}

#formCreateAccount p input:not(#show) {
	padding-left: 35px;
}

#formCreateAccount p input[disabled]#username,
#formCreateAccount p input[disabled]#email,
#formValidateEmail p input[disabled]#username,
#formValidateEmail p input[disabled]#email
{
	color: black;
	font-weight: normal;
	background-color: lightgray;
	border-color: black;
}

.msg a {
	text-decoration: underline;
}
